.why-us-section {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    padding-left: 40px;
}
.section-header {
    text-align: start;
}
.attributes-grid {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.attribute-item {
    width: 356px;
    height: auto;
}

.icon-wrapper {
    margin-bottom: 15px;
}
.icon-wrapper img {
    height: 48px;
}